<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/head.ejs") %>
        <title>School Marketplace | Agregar Productos</title>
</head>

<body>
    <%- include("./partials/header.ejs") %>

        <div class="container p-4 bg-light shadow">
            <h1 class="text-center display-4">Agregar Producto</h1>
            <form class="p-2" id="productForm" action="/api/productos" enctype="multipart/form-data" method="post">
                <div class="row justify-content-center align-items-center g-3">
                    <div class="col-md-4">
                        <label for="" class="form-label">Nombre</label>
                        <input id="nombreInput" type="text" class="form-control" name="nombre" required>
                    </div>
                    <div class="col-md-8">
                        <label for="" class="form-label">Descripción</label>
                        <input id="descInput" type="text" class="form-control" name="desc" required>
                    </div>
                    <div class="col">
                        <label for="" class="form-label">Código</label>
                        <input id="codigoInput" type="text" class="form-control" name="codigo" required>
                    </div>
                    <div class="col">
                        <label for="" class="form-label">Precio</label>
                        <input id="precioInput" type="number" class="form-control" name="precio" required>
                    </div>
                    <div class="col">
                        <label for="" class="form-label">Stock</label>
                        <input id="stockInput" type="number" class="form-control" name="stock" required>
                    </div>
                    <div class="">
                        <label for="" class="form-label">Foto</label>
                        <input id="fotoInput" type="file" class="form-control" name="foto" required>
                    </div>
                    <input type="submit" class="btn btn-primary w-25" value="Agregar">
                </div>
            </form>
        </div>

        <div class="container my-3 p-4">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Thumbnail</th>
                        </tr>
                        <% products.map(p=> {{ %>
                            <tr>
                                <td><%-p.nombre%></td>
                                <td><%-p.precio%></td>
                                <td>
                                    <img style="height:100px" src="<%-p.foto%>" />
                                </td>
                            </tr>
                            <% }}) %>
                    </thead>
                    <tbody id="productsPool"> </tbody>
                </table>
            </div>
        </div>

        <div class="container p-4 bg-light shadow">
            <h1 class="text-center display-4">Centro de mensajes</h1>
            <form id="msgForm" enctype="multipart/form-data" method="post">
                <div class="row justify-content-center align-items-center g-3">
                    <div>
                        <label for="" class="form-label">Email</label>
                        <input id="emailInput" type="email" class="form-control" name="email" required>
                    </div>
                    <div id="msgPool"> </div>
                    <div>
                        <label for="" class="form-label">Mensaje</label>
                        <input id="msgInput" type="text" class="form-control" name="msg" required>
                    </div>
                    <input type="submit" class="btn btn-primary w-25" value="Enviar">
                </div>
            </form>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="../client.socket.js"></script>
</body>

</html>